In [173]:
import numpy as np
import json
import pandas as pd
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("playas.csv")

df = df[["Nombre", "Longitud", "Grado_ocup", "Condicione", "Nudismo", "Bandera_az", "Auxilio_y_", "Forma_de_a", "Acceso_dis", "Autobús", "Aseos", "Zona_infan", "Submarinis", "Coordena_2", "Coordena_3", "Composici"]]

In [174]:
print(df.head())

       Nombre      Longitud    Grado_ocup        Condicione  Nudismo  \
0    La Venus    650 metros          Alto  Aguas tranquilas       No
1   Las Cañas  1.100 metros         Medio   Oleaje moderado       No
2   Calahonda  3.500 metros  Medio / Alto  Aguas tranquilas       No
3  El Charcón    800 metros          Bajo  Aguas tranquilas  Parcial
4    L'Espigó    600 metros          Alto  Aguas tranquilas       No

  Bandera_az Auxilio_y_           Forma_de_a Acceso_dis Autobús Aseos  \
0         No         Sí  A pie fácil / Coche         Sí      Sí    Sí
1         No         No  A pie fácil / Coche         No      Sí    Sí
2         Sí         Sí  A pie fácil / Coche         Sí      Sí    Sí
3         No         Sí  A pie fácil / Coche         No      Sí    No
4         Sí         Sí  A pie fácil / Coche         Sí      Sí    Sí

  Zona_infan Submarinis          Coordena_2          Coordena_3  \
0         Sí         No  04º 53' 12,344'' W  36º 30' 23,999'' N
1         No         No    4º 45' 36,437" W   36º 29' 11,401" N
2         No         No  04º 42' 40,410'' W  36º 29' 16,003'' N
3         No         No     4º 38' 44,03" W    36º 30' 26,09" N
4         No         No   00º 02' 40,84'' W    38º 36' 8,77'' N

              Composici
0                 Arena
1         Arena / Grava
2  Arena / Roca / Grava
3          Arena / Roca
4         Bolos / Grava

In [175]:
print(df.dtypes)

Nombre        object
Longitud      object
Grado_ocup    object
Condicione    object
Nudismo       object
Bandera_az    object
Auxilio_y_    object
Forma_de_a    object
Acceso_dis    object
Autobús       object
Aseos         object
Zona_infan    object
Submarinis    object
Coordena_2    object
Coordena_3    object
Composici     object
dtype: object

In [176]:
# No tenemos nulos
df.isnull().sum()

Nombre        0
Longitud      0
Grado_ocup    0
Condicione    0
Nudismo       0
Bandera_az    0
Auxilio_y_    0
Forma_de_a    0
Acceso_dis    0
Autobús       0
Aseos         0
Zona_infan    0
Submarinis    0
Coordena_2    0
Coordena_3    0
Composici     0
dtype: int64

In [177]:
df.duplicated(subset=['Coordena_2', 'Coordena_3']).sum()
# no hay duplicados en las coordenadas

0

In [178]:
for i in range(len(df['Longitud'])) :
    df['Longitud'][i] = df['Longitud'][i].split(' ')[0]
    df['Longitud'][i] = df['Longitud'][i].replace('.', '')
    if len(df['Longitud'][i].split('-')) == 2:
        df['Longitud'][i] = int(df['Longitud'][i].split('-')[0] + df['Longitud'][i].split('-')[1]) / 2
df['Longitud'] = df['Longitud'].astype(int)

In [179]:
def menu():
    print("Actividades dispoñíbeis: ")
    print("1: Tomar o sol/n2: Nadar/n3: Surf/n4: Pasear/n5: Nudismo")
    choice = input("Escolla a súa actividade: ")
    return choice

def filtrado():
    choice = int(menu())
    if choice == 1:
        df1 = df[df['Composici'] == 'Arena']
        df1 = df1[df1['Bandera_az'] == 'Sí']
    elif choice == 2:
        df1 = df[df['Condicione'] == 'Aguas tranquilas'] ### Pendentes de Carlos
        df1 = df1[(df1['Grado_ocup'] != 'Alto')]  # Revisar a ineficiencia
        df1 = df1[df1['Grado_ocup'] != 'Medio / Alto']
    elif choice == 3:
        df1 = df[df['Condicione'] != 'Aguas tranquilas'] ### Pendentes de Carlos
        df1 = df1[df1['Grado_ocup'] != 'Alto'] # Revisar a ineficiencia
        df1 = df1[df1['Grado_ocup'] != 'Medio / Alto']
        df1 = df1[df1['Forma_de_a'] != 'A pie difícil']
    elif choice == 4:
        df1 = df[df['Composici'] == 'Arena']
        df1 = df1[df1['Bandera_az'] == 'Sí']
        df1 = df1[df1['Longitud'] >= 300]
    elif choice == 5:
        df1 = df[df['Nudismo'] != 'No']

    print(df1.head())

In [180]:
filtrado()

Actividades dispoñíbeis:
1: Tomar o sol/n2: Nadar/n3: Surf/n4: Pasear/n5: Nudismo
                         Nombre  Longitud Grado_ocup  \
1                     Las Cañas      1100      Medio
6                       Urbasur      1100      Medio
8                Las Amoladeras      3750       Bajo
10  Las Salinas de Cabo de Gata      2500      Medio
16                  Torregarcía      1800       Bajo

                   Condicione Nudismo Bandera_az Auxilio_y_  \
1             Oleaje moderado      No         No         No
6             Oleaje moderado      No         No         Sí
8   Oleaje moderado / Ventosa      No         No         No
10  Oleaje moderado / Ventosa      No         No         No
16  Oleaje moderado / Ventosa      No         No         No

             Forma_de_a Acceso_dis Autobús Aseos Zona_infan Submarinis  \
1   A pie fácil / Coche         No      Sí    Sí         No         No
6           A pie fácil         Sí      Sí    Sí         No         No
8                 Coche         No      Sí    No         No         No
10                Coche         No      Sí    No         No         No
16                Coche         No      Sí    No         No         No

            Coordena_2          Coordena_3      Composici
1     4º 45' 36,437" W   36º 29' 11,401" N  Arena / Grava
6   07º 14' 52,366'' W  37º 12' 12,552'' N          Arena
8   02º 16' 42,050'' W  36º 48' 41,983'' N  Arena / Grava
10  02º 13' 53,895'' W  36º 45' 57,434'' N          Arena
16  02º 18' 00,037'' W  36º 49' 29,733'' N  Arena / Grava